<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>HR Management System</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/jquery.loadingModal.min.css">
</head>
<body>
<img src="/images/loading_icon.gif" id="loading-indicator" style="display:none" />


	<div class="container hidden" id="notification_div">
		<div class="alert info">
  			<span id="notification_msg_span">HR Management System</span>
		</div>
		<!-- it is loading span -->
		<!--
			<span class="spinner spinner-slow"></span> <span>Loading....</span>
		-->
	</div>


<div class="container hidden" id="login_form_div">
  <h2>HR Management System</h2>
  <p>Login to your account</p>
    <div class="form-group">
      <label for="login_mc_input">MC:</label>
      <input type="number" class="form-control" id="login_mc_input">
    </div>
    <div class="form-group">
      <label for="login_password_input">Password:</label>
      <input type="password" class="form-control" id="login_password_input">
    </div>

    <div class="form-group">
        <button class="btn btn-primary"id="login_button">
                Login
        </button>
    </div>

</div> <!-- div END for login form div -->


	<!-- this is our main container -->
    <div class="container hidden" id="main_div">



            <!-- this is WEB RTC Section -->

    <script src="scripts/adapter.js"></script>
    <script src="scripts/jquery-2.0.0.js"></script>

    <h2>Web Rtc Section</h2>
<table>
    <tr>
        <td>
            <video id="localVideo" />
        </td>
        <td>
            <ul>
                <li><button id="play_local_video_button">Play Local Video</button></li>
            <ul>

        <td>
            <video id="remoteVideo" />
        </td>
    </tr>
    <tr>
    </tr>
</table>

<p id="localOffer">It's local offer code</p>


    <script src="scripts/rtc.js"></script>
            <!-- end for Web Rtc section -->



<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">HR Management System</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
      <li class="active"><a class="nav_link"  href="#home">Home</a></li>
      <li><a class="nav_link" href="#inner">Inner</a></li>
      <li><a class="nav_link" href="#ops">Ops</a></li>
      <li><a class="nav_link" href="#outside">Outside</a></li>
      <li><a class="nav_link" href="#notification_alert_list">Notification <span id="notification_alert_count_span" class="badge"></span></a></li>
    </ul>
    </div>
  </div>
</nav>


<ui  class="hidden" id="notification_alert_list">
</ui>

    	<!-- Start for our data table -->
        <div class="hero-unit" id="our_data_table_section_div">
        	<h2 class="hidden">Status Bar</h2>
        	<ul id="status_bar" class="hidden"></ul>
            <h2>Soldier List</h2>
            <table class="table" id="soldier_list">
            	<thead>
                <tr>
                    <th>No.</th>
                    <th>MC</th>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Company</th>
                    <th>Current Location</th>
                    <th class="hidden">Inner Location</th>
                    <th class="hidden">Inner Duty</th>
                    <th class="hidden">Ops Location</th>
                    <th class="hidden">Ops Duty</th>
                    <th class="hidden">Outside Location</th>
                    <th class="hidden">Outside Duty Name</th>
                    <th class="hidden">Outside Duty Location</th>
                    <th class="hidden">Outside Duty Start Date</th>
                    <th class="hidden">Outside Duty End Date</th>
                    <th>#Update</th>
                    <th>#Delete</th>
                </tr>
            	</thead>
            	<tbody>
                <tr>
                	<td>1</td>
                	<td>63441</td>
                	<td>Capt</td>
                	<td>Aung Ko Man</td>
                	<td>Company Commander</td>
                	<td>Company 4</td>
                	<td>Outside</td>
                	<td></td>
                	<td></td>
                	<td>BKH Camp</td>
                	<td>Platoon Commander</td>
                	<td></td>
                	<td></td>
                	<td></td>
                	<td></td>
                	<td></td>
                	<td><a href="#">Update</a></td>
                	<td><a href="#">Delete</a></td>
                </tr>

                <tr>
                	<td>2</td>
                	<td>64500</td>
                	<td>Capt</td>
                	<td>Phyo Zin Myint</td>
                	<td>Company Commander</td>
                	<td>Company 1</td>
                	<td>Ops</td>
                	<td></td>
                	<td></td>
                	<td></td>
                	<td></td>
                	<td>Course</td>
                	<td>MCSc 16</td>
                	<td>POL</td>
                	<td>24 Apr 2016</td>
                	<td>15 Mar 2019</td>
                	<td><a href="#">Update</a></td>
                	<td><a href="#">Delete</a></td>
                </tr>

                <tr>
                	<td>3</td>
                	<td>31772</td>
                	<td>Lieutenant Colnel</td>
                	<td>Aung Than Oo</td>
                	<td>Commanding Officer</td>
                	<td>Head Quarter</td>
                	<td>Inner</td>
                	<td>Head Quarter</td>
                	<td>Commanding Officer</td>
                	<td></td>
                	<td></td>
                	<td></td>
                	<td></td>
                	<td></td>
                	<td></td>
                	<td></td>
                	<td><a href="#">Update</a></td>
                	<td><a href="#">Delete</a></td>
                </tr>
            	</tbody>
            </table>

            <button class="btn btn-primary" data-toggle="modal" data-target="#new_soldier" id="new_soldier_button">
                <span class="glyphicon glyphicon-plus"></span>
                New Soldier
            </button>

            <button class="btn btn-info" id="update_button">
                Update from Server
        	</button>

            <button class="btn btn-danger" id="logout_button">
                Logout
        	</button>


            <!-- new soldier modal STAT -->
			<div class="modal fade" id="new_soldier">
    			<div class="modal-dialog">
        			<div class="modal-content">
            			<div class="modal-header">
                			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

                			<h4 class="modal-title">New Soldier</h4>
            			</div>
            			<div class="modal-body" id="new_soldier_modal_body_div">

            				<!-- this area is filled by new soldier modal template data -->
            			</div>
            			<!-- this is modal footer section that we need to hide -->
            			<!--
            			<div class="modal-footer">
                			<button class="btn btn-primary" id="submit_soldier">Submit Soldier</button>
            			</div>
            			<-->
        			</div><!-- /.modal-content -->
    			</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

			<!-- Start of new soldier modal content -->
			<script type="text/x-template" id="new_soldier_modal_content">
				<!-- 
					<p> hello paragraph in new soldier modal content </p>
				-->
                <div class="form-group">
                	<select class="form-control new_mc_type_select" id="new_mc_type_select">
                		<% _.each(soldier_config.mc_type, function(v, i) { %>
                    		<% if(i == mc_type) { %>
                        		<option value='<%= i %>' selected><%= v %></option>
                    		<% } else { %>
                        		<option value='<%= i %>'><%= v %></option>
                    		<% } %>
                		<% }) %>
                	</select>
                </div>

                <div class="form-group">
                    <input class="form-control new_mc_input" type="number" id="new_mc_input" placeholder="MC" value="<%= mc %>" required>
                </div>

                <div class="form-group">
                	<select class="form-control new_rank_select" id="new_rank_select">
                		<% _.each(soldier_config.rank, function(v, i) { %>
                    		<% if(i == rank) { %>
                        		<option value='<%= i %>' selected><%= v %></option>
                    		<% } else { %>
                        		<option value='<%= i %>'><%= v %></option>
                    		<% } %>
                		<% }) %>
                	</select>
                </div>

                <div class="form-group">
                    <input class="form-control new_name_input" type="text" id="new_name_input" placeholder="Name" value="<%= name %>"  required>
                </div>

                <div class="form-group">
                	<select class="form-control new_position_select" id="new_position_select">
                		<% _.each(soldier_config.position, function(v, i) { %>
                    		<% if(i == position) { %>
                        		<option value='<%= i %>' selected><%= v %></option>
                    		<% } else { %>
                        		<option value='<%= i %>'><%= v %></option>
                    		<% } %>
                		<% }) %>
                	</select>
                </div>                

                <div class="form-group">
                	<select class="form-control new_company_select" id="new_company_select">
                		<% _.each(soldier_config.company, function(v, i) { %>
                    		<% if(i == company) { %>
                        		<option value='<%= i %>' selected><%= v %></option>
                    		<% } else { %>
                        		<option value='<%= i %>'><%= v %></option>
                    		<% } %>
                		<% }) %>
                	</select>
                </div>

                <div class="form-group">
                	<select class="form-control new_current_location_select" id="new_current_location_select">
                		<% _.each(soldier_config.current_location, function(v, i) { %>
                    		<% if(i == current_location) { %>
                        		<option value='<%= i %>' selected><%= v %></option>
                    		<% } else { %>
                        		<option value='<%= i %>'><%= v %></option>
                    		<% } %>
                		<% }) %>
                	</select>
                </div>

                <!-- this is template if condition note -->
                <!--
                    		<% if(current_location == 0) { %>
                        		<p>It's just a new </p>
                    		<% } else if(current_location == 1) { %>
                    			<p>Current Location is 1</p>    
                    		<% } else if(current_location == 2) { %>
                    			<p>Current Location is 2</p>
                    		<% } else { %>
                        		<p>ICurrent Location is 3</p>
                    		<% } %>
                 -->


            <% if(current_location == 1) { %>                    	
                <div class="form-group">
                	<select class="form-control new_inner_location_select" id="new_inner_location_select">
                		<% _.each(soldier_config.inner_location, function(v, i) { %>
                    		<% if(i == inner_location) { %>
                        		<option value='<%= i %>' selected><%= v %></option>
                    		<% } else { %>
                        		<option value='<%= i %>'><%= v %></option>
                    		<% } %>
                		<% }) %>
                	</select>
                </div>

                <div class="form-group">
                	<select class="form-control new_inner_duty_select" id="new_inner_duty_select">
                		<% _.each(soldier_config.inner_duty, function(v, i) { %>
                    		<% if(i == inner_duty) { %>
                        		<option value='<%= i %>' selected><%= v %></option>
                    		<% } else { %>
                        		<option value='<%= i %>'><%= v %></option>
                    		<% } %>
                		<% }) %>
                	</select>
                </div>

			<% } else if(current_location == 2) { %>


                <div class="form-group">
                	<select class="form-control new_ops_location_select" id="new_ops_location_select">
                		<% _.each(soldier_config.ops_location, function(v, i) { %>
                    		<% if(i == ops_location) { %>
                        		<option value='<%= i %>' selected><%= v %></option>
                    		<% } else { %>
                        		<option value='<%= i %>'><%= v %></option>
                    		<% } %>
                		<% }) %>
                	</select>
                </div>

                <div class="form-group">
                	<select class="form-control new_ops_duty_select" id="new_ops_duty_select">
                		<% _.each(soldier_config.ops_duty, function(v, i) { %>
                    		<% if(i == ops_duty) { %>
                        		<option value='<%= i %>' selected><%= v %></option>
                    		<% } else { %>
                        		<option value='<%= i %>'><%= v %></option>
                    		<% } %>
                		<% }) %>
                	</select>
                </div>
                
			<% } else if(current_location == 3) { %>

                <div class="form-group">
                	<select class="form-control new_outside_location_select" id="new_outside_location_select">
                		<% _.each(soldier_config.outside_location, function(v, i) { %>
                    		<% if(i == outside_location) { %>
                        		<option value='<%= i %>' selected><%= v %></option>
                    		<% } else { %>
                        		<option value='<%= i %>'><%= v %></option>
                    		<% } %>
                		<% }) %>
                	</select>
                </div>

                <div class="form-group">
                    <input class="form-control new_outside_duty_name_input" type="text" id="new_outside_duty_name_input" placeholder="Outside Duty Name" value="<%= outside_duty_name %>">
                </div>

                <div class="form-group">
                    <input class="form-control new_outside_duty_location_input" type="text" id="new_outside_duty_location_input" placeholder="Outside Duty Location" value="<%= outside_duty_location %>"  >
                </div>

                <div class="form-group">
                    <input class="form-control new_outside_duty_start_date_input" type="date" id="new_outside_duty_start_date_input" placeholder="Outside Duty Start Date" value="<%= outside_duty_start_date %>"  >
                </div>

                <div class="form-group">
                    <input class="form-control new_outside_duty_end_date_input" type="date" id="new_outside_duty_end_date_input" placeholder="Outside Duty End Date" value="<%= outside_duty_end_date %>"  >
                </div>

            <% } %>


            <% if(mc == null) { %> 
            	<button class="btn btn-primary insert_soldier_button">Insert</button>
			<% } else { %>
            	<button class="btn btn-primary update_soldier_button">Update</button>
            <% } %>

    		</script> <!-- End of new soldier modal content template -->



			<!-- Start of new soldier row template -->
			<script type="text/x-template" id="sv">
					<p> <%= text %></p>
					<p> <%= soldier_config.mc_type[1] %> </p>
					<button class="click_me">Click Me</button>
			</script>		
			<script type="text/x-template" id="soldier_row">

                	<td class="watch_me"><%= serial_no %></td>
                	<td><%= soldier_config.mc_type[mc_type] %> <%= mc %></td>
                	<td><%= soldier_config.rank[rank] %></td>
                	<td><%= name %></td>
                	<td><%= soldier_config.position[position] %></td>
                	<td><%= soldier_config.company[company] %></td>
                	<td><%= soldier_config.current_location[current_location] %></td>
                	<td class='hidden'><%= soldier_config.inner_location[inner_location] %></td>
                	<td class='hidden'><%= soldier_config.inner_duty[inner_duty] %></td>
                	<td class='hidden'><%= soldier_config.ops_location[ops_location] %></td>
                	<td class='hidden'><%= soldier_config.ops_duty[ops_duty] %></td>
                	<td class='hidden'><%= soldier_config.outside_location[outside_location] %></td>
                	<td class='hidden'><%= outside_duty_name %></td>
                	<td class='hidden'><%= outside_duty_location %></td>
                	<td class='hidden'><%= outside_duty_start_date %></td>
                	<td class='hidden'><%= outside_duty_end_date %></td>
                	<td><button type="button" class="btn btn-info update_button" data-toggle="modal" data-target="#new_soldier" id="new_soldier_button">Update</button></td>
                	<td><button type="button" class="btn btn-danger delete_button">Delete</button></td>

    		</script> <!-- End of new soldier row content template -->

		</div> <!-- End of data table container -->

    </div>
    <!-- End of our main container -->

<hr>


    <div class="container hidden">
        <div class="hero-unit">
            <h2>Issue List</h2>
            <table class="table" id="list">
                <tr>
                    <th>Subjecct</th>
                    <th>Priority</th>
                    <th>Severity</th>
                    <th>Assigned To</th>
                    <th>Status</th>
                    <th>#</th>
                </tr>
            </table>

            <button class="btn btn-primary" data-toggle="modal" data-target="#new">
                <span class="glyphicon glyphicon-plus"></span>
                New Issue
            </button>
                
<div class="modal fade" id="new">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">New Issue</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input class="form-control" type="text" id="subject" placeholder="Subject">
                </div>
                <div class="form-group">
                    <select class="form-control" id="priority">
                        <option value="-1">-- Priority --</option>
                        <option value="0">Normal</option>
                        <option value="1">Important</option>
                        <option value="2">Urgent</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" id="severity">
                        <option value="-1">-- Severity --</option>
                        <option value="0">Minor</option>
                        <option value="1">Major</option>
                        <option value="2">Crash</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="assigned-to" placeholder="Assigned To">
                </div>
                <div class="form-group">
                    <select class="form-control" id="status">
                        <option value="-1">-- Status --</option>
                        <option value="0">Assigned</option>
                        <option value="1">Doing</option>
                        <option value="2">Done</option>
                        <option value="3">Close</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="submit">Submit Issue</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
        </div>
    </div>

    <script type="text/x-template" id="row">
        <td><%= subject %></td>
        <td><%= config.priority[priority] %></td>
        <td><%= config.severity[severity] %></td>
        <td><%= assignedTo %></td>
        <td>
            <select class='form-control input-sm change-status'>
                <% _.each(config.status, function(v, i) { %>
                    <% if(i == status) { %>
                        <option value='<%= i %>' selected><%= v %></option>
                    <% } else { %>
                        <option value='<%= i %>'><%= v %></option>
                    <% } %>
                <% }) %>
            </select>
        </td>
        <td>
            <a href='#' class='del'>
                <span class='glyphicon glyphicon-remove'></span>
            </a>
        </td>
    </script>

    <script type="text/x-template" id="row_example">
        <td><%= subject %></td>
        <td><%= config.priority[priority] %></td>
        <td><%= config.severity[severity] %></td>
        <td><%= assignedTo %></td>
        <td>
            <select class='form-control input-sm change-status'>
                <% _.each(config.status, function(v, i) { %>
                    <% if(i == status) { %>
                        <option value='<%= i %>' selected><%= v %></option>
                    <% } else { %>
                        <option value='<%= i %>'><%= v %></option>
                    <% } %>
                <% }) %>
            </select>
        </td>
        <td>
            <a href='#' class='del'>
                <span class='glyphicon glyphicon-remove'></span>
            </a>
        </td>
    </script>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>
    <script src="bower_components/modernizr/modernizr.js"></script>

<script src="scripts/socket.io.js"></script>
<script>


</script>

	<script src="scripts/jquery.loadingModal.min.js"></script>
    <script src="scripts/main.js"></script>

</body>
</html>
